<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.edu.udea.sistemas.esteban.alertas_meteorologicas" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>
        <activity
            android:label="Tus Alertas"
            android:name="com.edu.udea.sistemas.esteban.alertas_meteorologicas.ListaAlertas"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="com.edu.udea.sistemas.esteban.alertas_meteorologicas.ListaAlertas" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:label="Últimas Mediciones"
            android:name="com.edu.udea.sistemas.esteban.alertas_meteorologicas.ListaMediciones"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="com.edu.udea.sistemas.esteban.alertas_meteorologicas.ListaMediciones" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:label="Registro de una Alerta"
            android:name="com.edu.udea.sistemas.esteban.alertas_meteorologicas.RegistroAlerta"
            android:screenOrientation="portrait">
            <intent-filter >
                <action android:name="com.edu.udea.sistemas.esteban.alertas_meteorologicas.RegistroAlerta" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
